@import "../../style/variable.scss";

.about {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .title {
    padding-top: 10rem;
    padding-bottom: 2rem;
    font-family: $text-font;
    font-size: 3rem;
    color: rgba($primary,0.5);

    span {
      font-size: 2rem;
      color: $text-gray;
    }
  }
  .profile {
    display: flex;

    // width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding-bottom: 5rem;
    perspective: 600px;

    img {
      width: 15rem;
      border-radius: 10px 10px 0 0;
    }

    .card {
      background-color: $text-white;
      border-radius: 10px;
      border: 1px solid $primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      transition: transform 2000ms;
      transform-style: preserve-3d;

      &:active {
        cursor: pointer;
        transform: rotateY(180deg);
      }

      .socials {
        margin-top: 1rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.2rem;
        width: 80%;
        text-align: center;
        a {
          img {
            width: 3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .about {
    height: auto;

    .profile {
      padding-bottom: 0;
    }

    .title {
      padding: 5rem 0;
    }
  }
}

@media screen and (min-width: 1700px) {

  .about{
    height: 100vh;
  }
}
