@import "../../style/variable.scss";

.account {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  height: 100vh;
  width: 80vw;
  justify-content: center;

  h2 {
    font-family: $text-font;
    font-size: 2rem;
    padding-top: 3rem;
  }

  form {
    text-align: center;
    button {
      background: $primary;
      padding: 0.8rem 1.5rem;

      border-radius: 10px;
      color: $text-white;
      font-family: $text-font;
      cursor: pointer;

      &:hover {
        color: $text-gray;
        background-color: rgba($primary, 0.8);
      }
      margin: 1rem;
    }
  }
  .form {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;

    .box {
      position: relative;
      width: 20rem;
      //   height: 2rem;

      .forminput {
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        border: none;
        border-bottom: 2px solid $primary;
        padding: 0.5rem;
        border-radius: 10px;
        font-family: $text-font;
        font-size: 1em;
        color: $text-black;
        box-shadow: none;
        height: 1.9rem;
        margin-top: 0.7rem;

        &:hover {
          border: 2px solid $primary;
        }
        &:focus {
          border: 2px solid $primary;
        }
      }
      .labelinput {
        position: absolute;
        left: 8rem;
        top: 1.2rem;
        padding: 0 0.5rem;

        font-size: 0.8rem;
        color: $text-light-gray;
        cursor: text;

        transition: top 200ms ease-in, left 200ms ease-in,
          font-size 200ms ease-in;
      }

      .forminput:focus ~ .labelinput,
      .forminput:not(:placeholder-shown).forminput:not(:focus) ~ .labelinput {
        top: -0.3rem;
        font-weight: bold;
        font-size: 0.7rem;
        color: $text-light-gray;
        background-color: $bg-white;
        left: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 690px) {
  .account {
    height: auto;
    
    
    .form {
      display: grid;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
      gap: 2rem;
      width: 100%;

    }
    h2{
        padding-top: 10rem;
        padding-bottom: 2rem;
    }
    form{
        margin-bottom: -16rem;
       
    }
  }
}
