@import "../../style/variable.scss";

.cover{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100%;
.loginbox{
 
 height: 50vh;
 box-shadow: 0 0 10px $primary;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
h1{
 font-family: $text-font ;
 padding: 1.1rem;
}
.inputbox{
 .btn a:hover{
  color: rgb(235, 35, 35);
  cursor: pointer;
 }
 .btn{
  background: $primary;
  padding: 0.8rem 1.5rem;
  margin: 2rem;
  border-radius: 10px;
  color: $text-white;
  font-family: $text-font;
  cursor: pointer;

  &:hover {
    color: $text-gray;
    background-color: rgba($primary, 0.8);
  }
 }
 .btn a{ 
color: rgb(252, 250, 250);
text-decoration: none;
 }
 .btn a:hover{
  color: aqua;
 }


}


 .input-container{
  input{
   height: 100vh;
   display: flex;
   align-items: center;
   border: none;
   box-shadow: 0 0 6px $primary;
   border-radius: 10px;
   font-family: $text-font ;
   font-weight: bold;
   font-size: 1.1rem;
  }
  .data{
 line-height: 3rem;
  }

 }
 
}



}

