@import "../../style/variable.scss";

// .cover{
//  margin: 0 auto;
// position: relative;
// width: 400px;
// height: 100vh;
// border: 2px solid rgb(230, 226, 226);
// border-radius: 10px;
// background-color: rgb(255, 255, 255);
// backdrop-filter: blur(20px);
// display: flex;
// justify-content: center;
// align-items: center;
// }
// .cover .logibox{
//  width: 100%;
//  padding: 50px;
// }
//  h1{
//  font-size: 2em;
//  text-align: center;
//  margin-top: 50px;
// }
// .inputbox{
//  position: relative;
//  width: 100%;
//  height: 100%;
//  margin: 30px 0;
// }
//  .inputbox input{
//   width: 100%;
//   height: 50px;
//   text-align: center;
//   border: none;
//   border-radius: 10px;
//   box-shadow: 0 0 10px $primary;
//  font-size: 16px;
//  font-weight: 600;
//  padding: 10px 2px 10px 5px;
// margin-bottom: 10px;
// }

// .btn{
//  background-color: $primary;
//  border: none;
//  border-radius: 10px;
//  text-align: center;
//  position: absolute;
//  left: 80px;
//  width: 150px;
//  height: 40px;
//  cursor: pointer;
// }
// .btn:hover{
//  color: rgb(223, 235, 235);
// }
// .forgetpass{
//  display: flex;
//  justify-content: space-between;
//  padding: 40px;
//  gap: 20px;
//  font-weight: bold;
//  margin-top: 20px;
// }
// .forgetpass .account{
//  text-decoration: none;
// }
// .register{
//  text-align: center;
//  font-size: 16px;
//  font-weight: bold;
//  margin: 50px 0 10px;
// }
// .register Link{
//  text-decoration: none;
 
// }
// .register .account{
//  text-decoration: none;
// }
// .forgetpass .check{
//  width: 20px;
//  height: 15px;
//  margin-right: 10px;
// }

.cover{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100%;
.loginbox{
 height: 50vh;
 box-shadow: 0 0 10px $primary;
 border-radius: 10px;
 display: flex;
 flex-direction: column;
 align-items: center;
padding: 2rem;
form{
padding: 20px;
 
}
h1{
 font-family: $text-font ;
 padding: 1rem;
}

.inputbox{
 .input-container{
  padding-bottom:2rem;
  text-align: center;
  input{
   border: none;
   box-shadow: 0 0 6px $primary;
   border-radius: 10px;
   height:2rem;
   width: 15rem;
   text-align: center;
   font-family: $text-font ;
   font-weight: bold;
   font-size: 1.1rem;
  }
 }
}
}
.forgetpass{
 display: flex;
 justify-content: space-between;
 align-items: center;
 font-family: $text-font ;
 .account{
  text-decoration: none;
  color: $primary;
 }
 .account:hover{
  color: aqua;
 }
 input{
  margin: 5px;
  font-family: $text-font ;
 }
}
.register{
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 padding: 2rem;
 font-family: $text-font;

 .account{
  text-decoration: none;
  margin-left: 10px;
  color: $primary;
  font-family: $text-font ;
 }

 .account:hover{
  color: aqua;
 }

}
.btn{
 width: 80px;
 border-radius: 10px;
 background-color: $primary;
 margin-left: 80px;
 margin-top: 30px;
 text-align: center;
 font-family: $text-font ;
 color: white;
}

.btn:hover{
 color: rgb(235, 35, 35);
 cursor: pointer;
}
}



