@import "../../style/variable.scss";

.cover {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100%;

 .loginbox {
  width: 300px;
  form{
   padding: 20px;
   }
  box-shadow: 0 0 10px $primary;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
   font-family: $text-font ;
   padding: 1.1rem;
  }

  .inputbox {
   text-align: center;
   padding: 5px;
   .btn a:hover {
    color: rgb(235, 35, 35);
    cursor: pointer;
   }

   .btn {
    border-radius: 10px;
    // background-color: $primary;
   
    margin-top: 30px;
    padding: 20px;
    text-align: center;
    font-family: $text-font ;
   }

   .btn a {
    color: rgb(252, 250, 250);
    text-decoration: none;
   }

   .btn a:hover {
    color: aqua;
   }


  }


  .input-container {
   input {
   
    display: flex;
    align-items: center;
    border: none;
    box-shadow: 0 0 6px $primary;
    border-radius: 10px;
    font-family: $text-font ;
    font-weight: bold;
    font-size: 1rem;
   padding: 5px;
   }

   .data {
    line-height: 3rem;
   }

  }

 }



}