@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css");
@import "../../style/variable.scss";
.search-section {
  margin: 1rem;
  width: 20rem;
  height: 100vh;
  box-shadow: 0px 1px 5px 0.5px $primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;

  .search-bar {
    margin: 0.5rem;
    padding-left: 0.5rem;
    width: 18rem;
    height: 2rem;
    box-shadow: 0px 2px 5px 0.5px $primary;
    border-radius: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-white;
    #search-input {
      height: 100%;
      width: 100%;

      border-radius: 0.5rem;
      border-style: hidden;
      outline: none;
      box-shadow: none;
    }
    #search-button {
      padding: 0px 1rem;
      height: 100%;
      text-align: center;
      font-weight: bolder;
      border-radius: 5rem;
      // background-color: $primary;
      border: none;
      &:hover {
        background-color: $primary;
        color: $bg-white;
      }
    }
  }
}
