@import "../../style/variable.scss";

.footer {
  background: $bg-black;
  text-align: center;
  height: auto;
  padding: 2rem;

  h5 {
    color: $text-white;
    padding: 3rem;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    margin-top: 20rem;
    
  }
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  
  &-btn {
    width: 45%;
    max-width: 160px;
    color: $text-black;
    margin: 20px 10px;
    text-align: left;
    border-radius: 10px;
    text-decoration: none;
    font-family: "Lucida Grande", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    &.blu {
      background-color: $text-white;
      transition: background-color 0.25s linear;
      &:hover {
        background-color: $primary;
      }
    }
    img {
      width: 20%;
      text-align: center;
      font-size: 1rem;
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
    .img_google_desktop {
      margin: 0.4rem;
    }
    .img_desktop {
      margin: 0.5rem;
    }
    .big-txt {
      font-size: 0.7;
      text-transform: capitalize;
    }
  }
}
