@import "../../style/variable.scss";

.frontpage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap:nowrap;

  .hero__card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: auto;
  }
}

@media screen and (max-width: 770px) {
  .frontpage {
    .hero__card {
      display: flex;
      flex-wrap: wrap;
      height:auto ;
      margin-top: 7rem;
      margin-bottom: 4rem;
    }
  }
}
@media screen and (max-width: 1050px) {
  .frontpage {
    display: flex;
  }
}
