@import "../../style/variable.scss";


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
.card {
  perspective: 1000px;
  width: 250px;
  height: 400px;

  &:hover > .innercard {
    cursor: pointer;
    transform: rotateY(180deg);
  }
  .innercard {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;

    .back{
        transform: rotateY(180deg);
        .avatar{
            width: 4rem;
            border-radius: 50%;
            margin-top: 0.5rem;
            border: 3px solid rgba($primary, 0.8);
            cursor: pointer;
        }
    }

    .front,
    .back {
      position: absolute;
      background-color: $text-white;
      padding: 0.8rem;
      
      border-radius: 10px;
      width: fit-content;
      text-align: center;
      box-shadow: 0.2rem 0.2rem 0.5rem $text-gray;
      backface-visibility: hidden;
      .qrcode {
        width: 15rem;
        height: 15rem;
        align-items: center;
      }

      h3 {
        font-family: $hero-page;
        color: $bg-black;
        background-color: $bg-white;
        border-radius: 10px;
        padding: 0.4rem;
      }

      img {
        width: 15rem;
      }
      h4 {
        color: $text-logo;
      }
    }
  }
}
}

@media screen and (max-width: 1050px) {
  .card {
    margin-top: 2rem;
  }
}
